*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Ubuntu' sans-serif !important;
}

body{
    background: white !important;
    color:black !important;
    overflow: hidden;
    overflow-y: scroll;
}