@import url('https://fonts.googleapis.com/css2?family=Banco&display=swap');

.banco-font {
    font-family: 'Banco', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Ubuntu' sans-serif !important;
}

body {
    background: white !important;
    color: black !important;
    overflow: hidden;
    overflow-y: scroll;
}